<div class="anuncios">
  <div class="anuncios__list">
    <span
      *ngIf="anunciosVip.length <= 0; else anunciosVipListagem"
      class="no-shipping"
      style="color: black"
    >
      Nenhum anúncio criado.
    </span>

    <ng-template #anunciosVipListagem>
      <div class="anuncios__list-publicidades">
        <ng-container *ngFor="let anuncio of anunciosVip">
          <app-publicidades-item-listagem [publicidade]="anuncio">
          </app-publicidades-item-listagem>
          <!-- <img
            (click)="goToUrl(anuncio)"
            [src]="getImageLink(anuncio)"
            [alt]="anuncio.titulo"
            [title]="anuncio.titulo"
            style="
              width: 356px;
              height: 518px;
              border: 1px solid black;
              border-radius: 10px;
              object-fit: cover;
              cursor: pointer;
            "
          /> -->
        </ng-container>
      </div>
    </ng-template>
  </div>

  <div class="anuncios__list">
    <span
      *ngIf="anuncios.length <= 0; else anunciosListagem"
      class="no-shipping"
      style="color: black"
    >
      Nenhum anúncio criado.
    </span>

    <ng-template #anunciosListagem>
      <div class="anuncios__list-publicidades">
        <ng-container *ngFor="let anuncio of anuncios">
          <app-publicidades-item-listagem [publicidade]="anuncio">
          </app-publicidades-item-listagem>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
