<div class="frete-filtro">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Coloque mais informações para facilitar sua busca
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="frete-filtro__container" [formGroup]="buscarFretesForm">
      <div class="frete-filtro__row">
        <div class="frete-filtro__radio">
          <div class="frete-filtro__item">
            <input
              type="radio"
              id="comRastreio"
              formControlName="possui_rastreio"
              [value]="true"
            />
            <label for="comRastreio">Com Rastreio</label>
          </div>
          <div class="frete-filtro__item">
            <input
              type="radio"
              id="semRastreio"
              formControlName="possui_rastreio"
              [value]="false"
            />
            <label for="semRastreio">Sem Rastreio</label>
          </div>
        </div>
      </div>
      <div class="frete-filtro__row">
        <div class="frete-filtro__localizacao">
          <div class="frete-filtro__localizacao-icone">
            <img src="./assets/icon/origem-icon.svg" alt="Origem Icone" />
          </div>
          <div class="frete-filtro__localizacao-label">Origem</div>
          <div class="frete-filtro__localizacao-input">
            <input
              type="text"
              placeholder="Insira a cidade aqui"
              matInput
              formControlName="cidade_coleta"
              [matAutocomplete]="opcoesCidadeColeta"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #opcoesCidadeColeta="matAutocomplete"
            >
              <mat-option
                *ngFor="let option of filteredOptionsOrigem | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="frete-filtro__localizacao">
          <div class="frete-filtro__localizacao-icone">
            <img src="./assets/icon/destino-icon.svg" alt="Destino Icone" />
          </div>
          <div class="frete-filtro__localizacao-label">Destino</div>
          <div class="frete-filtro__localizacao-input">
            <input
              type="text"
              placeholder="Insira a cidade aqui"
              matInput
              formControlName="cidade_entrega"
              [matAutocomplete]="opcoesCidadeEntrega"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #opcoesCidadeEntrega="matAutocomplete"
            >
              <mat-option
                *ngFor="let option of filteredOptionsDestino | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="frete-filtro__row">
        <div class="frete-filtro__radio">
          <div class="frete-filtro__item">
            <input
              type="radio"
              id="comMovp"
              formControlName="possui_movp"
              [value]="true"
            />
            <label for="comMovp">Com MOPP</label>
          </div>
          <div class="frete-filtro__item">
            <input
              type="radio"
              id="semMovp"
              formControlName="possui_movp"
              [value]="false"
            />
            <label for="semMovp">Sem MOPP</label>
          </div>
        </div>
      </div>
      <div class="frete-filtro__row">
        <div class="frete-filtro__select">
          <div class="frete-filtro__localizacao-label">Carroceria</div>
          <select matNativeControl formControlName="tipo_carroceria">
            <option value="" selected></option>
            <option
              *ngFor="let item of opcoesCarrocerias"
              [value]="item"
              selected
            >
              {{ item }}
            </option>
          </select>
        </div>
      </div>
      <div class="frete-filtro__row">
        <div class="frete-filtro__select">
          <div class="frete-filtro__localizacao-label">Veículo</div>
          <select matNativeControl formControlName="tipo_veiculo">
            <option value="" selected></option>
            <option *ngFor="let item of opcoesVeiculos" [value]="item" selected>
              {{ item }}
            </option>
          </select>
        </div>
      </div>
      <div class="frete-filtro__row">
        <div class="frete-filtro__action">
          <button
            class="frete-filtro__buscar"
            (click)="filtrarFretes(buscarFretesForm.getRawValue())"
          >
            Buscar
          </button>
        </div>
      </div>
      <div class="frete-filtro__row">
        <div class="frete-filtro__action">
          <button class="frete-filtro__limpar" (click)="limparFiltros()">
            Limpar filtros
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
