.frete-listagem {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__frete {
    background: #ffffff;
    border: 1px solid #9a9a9a;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;
    }

    &-label {
      font-weight: bold;
    }

    &-button {
      background: #012657;
      border-radius: 20px;
      color: white;
      padding: 1.25rem 2.5rem;
      font-weight: bold;
    }
  }
}

#heart {
  position: absolute;
  width: 100px;
  transform: scale(0.3);
  top: 0;
  right: -2rem;
}

#heart::before,
#heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  background: red;
}

#heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.fretes__favorito {
  height: 35px;
  position: relative;
}
