<app-main-layout>
  <div class="frete-listagem" body id="menuContent">
    <div class="frete-listagem__container">
      <ng-container *ngIf="favoritos.size > 0; else naoHaFavoritos">
        <ng-container *ngFor="let frete of fretes; let index = index">
          <div class="frete-listagem__frete" *ngIf="favoritos.has(frete.id)">
            <div class="fretes__favorito">
              <div
                id="heart"
                *ngIf="favoritos.has(frete.id)"
                (click)="removerFavorito(frete.id!)"
              ></div>
            </div>
            <div class="frete-listagem__frete-row">
              <div class="frete-listagem__frete-item">
                <div class="frete-listagem__frete-label">
                  <img src="./assets/icon/origem-icon.svg" alt="Origem Icone" />
                  Origem
                </div>
                <div class="frete-listagem__frete-valor">
                  {{ frete?.cidade_coleta + " - " + frete?.estado_coleta }}
                </div>
              </div>
              <div class="frete-listagem__frete-item">
                <div class="frete-listagem__frete-label">
                  <img
                    src="./assets/icon/destino-icon.svg"
                    alt="Destino Icone"
                  />
                  Destino
                </div>
                <div class="frete-listagem__frete-valor">
                  {{ frete?.cidade_entrega + " - " + frete?.estado_entrega }}
                </div>
              </div>
            </div>
            <div class="frete-listagem__frete-row">
              <div class="frete-listagem__frete-item">
                <div class="frete-listagem__frete-label">Veiculo</div>
                <div class="frete-listagem__frete-valor">
                  {{ frete?.tipo_veiculo }}
                </div>
              </div>
              <div class="frete-listagem__frete-item">
                <div class="frete-listagem__frete-label">Carroceria</div>
                <div class="frete-listagem__frete-valor">
                  {{ frete?.tipo_carroceria }}
                </div>
              </div>
            </div>
            <div class="frete-listagem__frete-row">
              <div class="frete-listagem__frete-item">
                <div class="frete-listagem__frete-label">Peso</div>
                <div class="frete-listagem__frete-valor">
                  {{ frete?.peso_toneladas }} toneladas
                </div>
              </div>
              <div class="frete-listagem__frete-item">
                <div class="frete-listagem__frete-label">Valor</div>
                <div class="frete-listagem__frete-valor">
                  {{ frete?.valor_frete | currency: "BRL" }}
                </div>
              </div>
            </div>
            <div class="frete-listagem__frete-row">
              <button
                class="frete-listagem__frete-button"
                (click)="openDialog(frete)"
              >
                Detalhes do frete
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #naoHaFavoritos>
        <p>Você não possui fretes favoritados.</p>
      </ng-template>
    </div>
  </div>
</app-main-layout>
