.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/assets/login-background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-x: auto;

  &__container {
    width: 90vw;
    max-width: 500px;
    padding: 1rem 0;
    background: white;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      height: 15vh;
    }
  }

  &__body {
    &-input {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 1rem 0;

      span {
        color: black;
        font-weight: bold;
      }

      input {
        border: none;
        background: #d6d6d6;
        border-radius: 20px;
        padding: 8px 16px;
        width: 100%;
        height: 8vh;
        max-height: 50px;
        outline: none;
        color: black;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 1rem 0;

      button {
        border: none;
        width: 100%;
        border-radius: 10px;
        padding: 1rem;
        cursor: pointer;
        font-style: normal;
        font-weight: 900;
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.2px;
      }
    }

    &-primary button {
      background: #004AAD;
      color: white;

      &:hover {
        background: lighten($color: #004aad, $amount: 10);
      }
    }

    &-secondary button {
      background: white;
      color: #004AAD;
      border: 2px solid #004AAD;

      &:hover {
        background: darken($color: white, $amount: 10);
      }
    }
  }
}
