<div class="login">
  <div class="login__container">
    <div class="login__header">
      <img src="/assets/logo-principal.png" alt="Logar Express Logo" />
    </div>
    <div class="login__body">
      <form [formGroup]="formularioLogin">
        <div class="login__body-input">
          <span>Acessar sua conta</span>
        </div>
        <div class="login__body-input">
          <input
            type="text"
            formControlName="email"
            placeholder="Digite seu email"
          />
        </div>
        <div class="login__body-input">
          <input
            type="password"
            formControlName="password"
            placeholder="Coloque sua senha"
          />
        </div>
        <div class="login__body-button login__body-primary">
          <button type="button" (click)="fazerLogin()">Entrar</button>
        </div>
        <div class="login__body-button login__body-secondary">
          <button type="button" (click)="acessarCadastro()">
            Cadastre agora
          </button>
        </div>
        <div class="login__body-button login__body-secondary">
          <button type="button" (click)="acessarEsqueciSenha()">
            Recuperar senha
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
