.main-layout {
  height: 100vh;
  width: 100vw;
  background: white;
  overflow-y: scroll;

  &__navbar {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: #004aad;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-menu {
      height: 25px;
      margin: 0.8rem;
    }

    &-logo {
      margin-left: 1rem;
      width: 50px;
    }

    &-direita {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 70%;
        margin-right: 1rem;
      }
    }
  }

  &__sidebar {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: inherit;
    bottom: inherit;
    z-index: 50;
    transform: translateX(-100vw);
    transition: 0.5s transform ease-in;
    background: #f4f4f4;

    &-open {
      transform: translateX(0);
    }

    &-close {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
      }
    }

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 50px;
      // height: 50px;

      img {
        width: 150px;
        // height: 50px;
      }
    }

    &-item {
      border-bottom: rgba(195, 203, 205, 0.3) 1px solid;
      display: flex;
      color: #696969;
      padding: 1rem;
    }

    &-icone {
      margin-right: 1rem;
    }

    &-ativo {
      font-weight: bold;
      background: lighten($color: #696969, $amount: 40);
    }
  }

  &__body {
  }
}
