<ion-app>
  <ion-content overflow-scroll="true">
    <div class="main-layout">
      <div class="main-layout__navbar">
        <div class="main-layout__navbar-esquerda">
          <img
            class="main-layout__navbar-menu"
            src="./assets/icon/menu-icon.svg"
            alt="Menu Icon"
            (click)="menuOpen = true"
          />
          <img
            class="main-layout__navbar-logo"
            src="./assets/logo-minimo.png"
            alt="Logar Express Logo"
          />
        </div>

        <span *ngIf="username">Olá, {{ username }}!</span>

        <div class="main-layout__navbar-direita" (click)="logout()">
          <img src="./assets/icon/logout-icon.png" alt="Sair" />
        </div>
      </div>

      <div
        class="main-layout__sidebar"
        [class.main-layout__sidebar-open]="menuOpen"
      >
        <div class="main-layout__sidebar-close" (click)="menuOpen = false">
          <img src="./assets/icon/close-icon.png" alt="Close Menu Icon" />
        </div>
        <div class="main-layout__sidebar-logo">
          <img src="./assets/logo-principal.png" alt="Logar Express" />
        </div>
        <div class="main-layout__sidebar-container">
          <ng-container *ngFor="let menuItem of menuItens">
            <div
              class="main-layout__sidebar-item"
              [routerLink]="menuItem.rota"
              routerLinkActive="main-layout__sidebar-ativo"
            >
              <div class="main-layout__sidebar-icone">
                <img [src]="menuItem.icone" [alt]="menuItem.descricao" />
              </div>
              <div class="main-layout__sidebar-descricao">
                {{ menuItem.descricao }}
              </div>
            </div>
          </ng-container>
          <div
            class="main-layout__sidebar-item"
            [routerLink]="'/favoritos'"
            routerLinkActive="main-layout__sidebar-ativo"
          >
            <div class="main-layout__sidebar-icone">
              <img
                style="width: 25px"
                [src]="'./assets/icon/heart-icon-black.png'"
                [alt]="'Meus Fretes Favoritos'"
              />
            </div>
            <div class="main-layout__sidebar-descricao">
              {{ "Meus Fretes Favoritos" }}
            </div>
          </div>
        </div>
      </div>

      <div class="main-layout__body">
        <ng-content select="[body]"></ng-content>
      </div>
    </div>
  </ion-content>
</ion-app>
