<!-- <mat-dialog-content> -->
<div class="frete-listagem__frete">
  <!-- (click)="voltar()" -->
  <div
    class="frete-listagem__frete-row"
    style="justify-content: flex-start"
    mat-dialog-close
  >
    <div style="display: flex; justify-content: center; align-items: center">
      <img src="./assets/icon/chevron-left.svg" alt="Voltar" /> Voltar
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">
        <img src="./assets/icon/origem-icon.svg" alt="Origem Icone" />
        Transportadora
      </div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.razao_social }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">
        <img src="./assets/icon/origem-icon.svg" alt="Origem Icone" />
        Origem
      </div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.cidade_coleta + " - " + frete?.estado_coleta }}
      </div>
    </div>
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">
        <img src="./assets/icon/destino-icon.svg" alt="Destino Icone" />
        Destino
      </div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.cidade_entrega + " - " + frete?.estado_entrega }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Veiculo</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.tipo_veiculo }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Carroceria</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.tipo_carroceria }}
      </div>
    </div>
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Acondicionamento</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.acondicionamento_produto }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Dimensões mínimas</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.dimensoes_minimas }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Exigências</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.requisitos_extras }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Data Coleta</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.data_coleta | mask: "00/00/0000" }}
      </div>
    </div>
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Data Entrega</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.data_entrega | mask: "00/00/0000" }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Peso</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.peso_toneladas }} toneladas
      </div>
    </div>
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Valor</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.valor_frete | currency: "BRL" }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <div class="frete-listagem__frete-item">
      <div class="frete-listagem__frete-label">Nome do Contato:</div>
      <div class="frete-listagem__frete-valor">
        {{ frete?.nome_responsavel_coleta }}
      </div>
    </div>
  </div>
  <div class="frete-listagem__frete-row">
    <button class="frete-listagem__frete-button" (click)="contato()">
      Entrar em Contato
    </button>
  </div>
  <div class="frete-listagem__frete-row">
    <button class="frete-listagem__frete-button" (click)="whatsapp()">
      Whatsapp
    </button>
  </div>
</div>
<!-- </mat-dialog-content> -->
