.frete-listagem {
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
  }

  &__frete {
    // border: 1px solid #9a9a9a;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 13px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 1rem;
      text-align: center;
    }

    &-label {
      font-weight: bold;
    }

    &-button {
      background: #012657;
      border-radius: 20px;
      color: white;
      padding: 1.25rem 2.5rem;
      font-weight: bold;
    }

    &-valor {
      line-break: anywhere;
    }
  }
}
