<app-fretes-filtro
  [opcoesCarrocerias]="opcoesCarrocerias"
  [opcoesVeiculos]="opcoesVeiculos"
  [opcoesDestino]="opcoesDestino"
  [opcoesOrigem]="opcoesOrigem"
  [buscarFretesForm]="buscarFretesForm"
  (filtrarFretesEvent)="filtrarFretes($event)"
></app-fretes-filtro>

<div class="frete-listagem">
  <div class="frete-listagem__container">
    <div class="frete__filter">
      <div class="frete__filter-resultados" style="color: black">
        Resultados da pesquisa ({{ fretes.length }})
      </div>
      <div
        class="frete__filter-ordenacao"
        style="border:1px solid #9a9a9a; padding: 10px 5px; border-radius: 13px;"
      >
        <mat-select
          [(ngModel)]="ordenacaoListagem"
          (ngModelChange)="reordenarListagem()"
        >
          <mat-option *ngFor="let item of opcoesOrdenacao" [value]="item.valor">
            {{ item.descricao }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="frete-listagem__frete" *ngFor="let frete of fretes">
      <div class="fretes__favorito">
        <div
          id="heart"
          *ngIf="favoritos.has(frete.id)"
          (click)="removerFavorito(frete.id!)"
        ></div>
        <img
          (click)="adicionarFavorito(frete.id!)"
          *ngIf="!favoritos.has(frete.id)"
          src="./assets/icon/heart-icon.png"
          alt="Heart Icon"
          style="width: 30px; top: 0; right: 0; position: absolute"
        />
      </div>
      <div class="frete-listagem__frete-row">
        <div class="frete-listagem__frete-item">
          <div class="frete-listagem__frete-label">
            <img src="./assets/icon/origem-icon.svg" alt="Origem Icone" />
            Origem
          </div>
          <div class="frete-listagem__frete-valor">
            {{ frete?.cidade_coleta + " - " + frete?.estado_coleta }}
          </div>
        </div>
        <div class="frete-listagem__frete-item">
          <div class="frete-listagem__frete-label">
            <img src="./assets/icon/destino-icon.svg" alt="Destino Icone" />
            Destino
          </div>
          <div class="frete-listagem__frete-valor">
            {{ frete?.cidade_entrega + " - " + frete?.estado_entrega }}
          </div>
        </div>
      </div>
      <div class="frete-listagem__frete-row">
        <div class="frete-listagem__frete-item">
          <div class="frete-listagem__frete-label">Veiculo</div>
          <div class="frete-listagem__frete-valor">
            {{ frete?.tipo_veiculo }}
          </div>
        </div>
        <div class="frete-listagem__frete-item">
          <div class="frete-listagem__frete-label">Carroceria</div>
          <div class="frete-listagem__frete-valor">
            {{ frete?.tipo_carroceria }}
          </div>
        </div>
      </div>
      <div class="frete-listagem__frete-row">
        <div class="frete-listagem__frete-item">
          <div class="frete-listagem__frete-label">Peso</div>
          <div class="frete-listagem__frete-valor">
            {{ frete?.peso_toneladas }} toneladas
          </div>
        </div>
        <div class="frete-listagem__frete-item">
          <div class="frete-listagem__frete-label">Valor</div>
          <div class="frete-listagem__frete-valor">
            {{ frete?.valor_frete | currency: "BRL" }}
          </div>
        </div>
      </div>
      <div class="frete-listagem__frete-row">
        <button
          class="frete-listagem__frete-button"
          (click)="verDetalhesFrete(frete)"
        >
          Detalhes do frete
        </button>
      </div>
    </div>
  </div>
</div>
