.card {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  width: 95%;
  margin: 1rem auto 0;

  &__image {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  &__infos {
    padding: 15px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black !important;
  }

  &__titulo {
    font-size: 1.5rem;
    max-height: 50px;
    overflow: hidden;
    line-height: 1.5rem;
    font-weight: bold;
  }

  &__descricao {
    font-size: 1rem;
    padding: 5px 0;
    // max-height: 60px;
    // overflow: hidden;
  }

  &__comprar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__preco {
    font-size: 1.5rem;
  }

  &__botao {
    button {
      background: #012657;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 13px;
      color: white;
      padding: 10px;

      &:hover {
        background: lighten($color: #012657, $amount: 10);
      }
    }
  }

  &__remover {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: #f4f4f44b;
    }
  }

  &__admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(3, 0);
    grid-template-rows: repeat(2, 1fr) repeat(3, 0);

    p {
      grid-area: 1 / 1 / 2 / 6;
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  &__aprovar {
    background: #00a200;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    text-transform: uppercase;
    grid-area: 2 / 1 / 3 / 2;
  }

  &__reprovar {
    background: #ff0b0d;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    text-transform: uppercase;
    grid-area: 2 / 2 / 3 / 3;
  }
}
