<div class="card">
  <div class="card__image">
    <img [src]="getImageLink()" [alt]="publicidade.titulo" />
  </div>

  <div class="card__infos">
    <div class="card__titulo" [title]="publicidade.titulo">
      {{ publicidade.titulo }}
    </div>
    <div class="card__descricao" [title]="publicidade.descricao">
      {{ publicidade.descricao }}
    </div>
    <div class="card__descricao" [title]="publicidade.name">
      Anunciante: {{ publicidade.name }}
    </div>
    <div class="card__comprar">
      <div class="card__preco">
        {{ publicidade.preco | currency: "BRL" }}
      </div>
      <div class="card__botao">
        <button (click)="comprarProduto()">Comprar agora</button>
      </div>
    </div>
    <div class="card__admin" [ngStyle]="{ display: isAdmin ? 'grid' : 'flex' }">
      <p *ngIf="isAnunciante || isAdmin">
        {{ publicidade.codigo_publicidade }}
      </p>
    </div>
  </div>
</div>
