.home {
  &__container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    grid-gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    flex: 1 50%;
    border-radius: 4px;
    background-color: #004aad;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &-icone img {
      width: 100%;
    }

    &-titulo {
      color: white;
      text-align: center;
      text-transform: uppercase;
      width: 90%;
    }
  }
}
