<app-main-layout>
  <div class="home" body id="menuContent">
    <div class="home__container">
      <ng-container *ngFor="let funcionalidade of funcionalidadesDisponiveis">
        <div class="home__item" [routerLink]="funcionalidade.rota">
          <div class="home__item-icone">
            <img
              [src]="funcionalidade.caminhoIcone"
              [alt]="funcionalidade.titulo"
            />
          </div>
          <div class="home__item-titulo">
            {{ funcionalidade.titulo }}
          </div>
        </div>
      </ng-container>
      <div class="home__item" routerLink="/favoritos">
        <div class="home__item-icone">
          <img
            style="width: 40px"
            src="./assets/icon/heart-icon-white.png"
            alt="Meus Fretes Favoritos"
          />
        </div>
        <div class="home__item-titulo">Meus Fretes Favoritos</div>
      </div>
      <div class="home__item" (click)="suporteWhatsapp()">
        <div class="home__item-icone">
          <img
            style="width: 40px"
            src="./assets/icon/whatsapp-icon.png"
            alt="Meus Fretes Favoritos"
          />
        </div>
        <div class="home__item-titulo">Suporte Whatsapp</div>
      </div>
    </div>
  </div>
</app-main-layout>
